@charset "UTF-8";

/*styles for printer*/

*{

  margin:10px;
  padding:10px;
}
html{
font-family: 'Courier New', Courier, monospace;
font-size:1.5em;
line-height: 1.5em;
}

menu{
  display:none;
}

article{

  width: 100%;
}


article::after{

content:'This article was printed through the website www.cursoemvideo.com .';


}